@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Montserrat', sans-serif;
    background: #100F0F;
    font-size: 16px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }