//--------------------color------------------//
$main-color: #F3F3F3;
$modal-text-color: #999EA3;
$modal-auxiliary-color: #2C2C2C;

$main-hover-color: rgba(188, 26, 26, 0.5);
$main-botum-color: rgba(188, 26, 26, 0.2);

//--------------font-family text-------------//
$inter: 'Inter', sans-serif;
$roboto: 'Roboto', sans-serif;