<!-- SECTION 2 - PRODUCTS -->
<section class="products">
    <div class="container products__container">
        <h1 class="visually-hidden">Products menu</h1>
        <ul class="list products__list">
            <li class="products__item">
                <img src="../images/1-tomato-mobile-1x.jpg" 
                width="156" 
                height="156" 
                alt="tomato-1"
                class="picture">
            </li>
        </ul>
        <div class="products__description">
            <h2 class="products__description--title">Classic sauce</h2>
                <button type="button" class="btn products-btn">Buy now</button>
        </div>  
    </div>

    <div class="container products__container">
        
        <div class="products__description">
            <h2 class="products__description--title">Classic sauce</h2>
            <button type="button" class="btn products-btn">Buy now</button>
        </div>
        <ul class="list products__list">
            <li class="products__item">
                <img src="../images/2-bell-pepper-mobile-1x.jpg" 
                width="156" 
                height="156" 
                alt="tomato-1" 
                class="picture">
            </li>
        </ul>
        
    </div>



</section>

